body
{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #38006b;
}

.menu ul
{
	margin: 0;
	padding: 0;
	display: flex;
}

.menu ul li
{
	list-style: none;
	margin: 0 20px;
	transition: 0.5s;	
}

.menu ul li a
{
	display: block;
	position: relative;
	text-decoration: none;
	padding: 5px;
	font-size: 18px;
	font-family: sans-serif;
	color: #fff;
	text-transform: uppercase;
	transition: 0.5s;
}

.menu ul:hover li a 
{
  transform: scale(1.5);
  opacity: 0.2;
  filter: blur(5px);
}

.menu ul li a:hover 
{
  transform: scale(2);
  opacity: 1;
  filter: blur(0);
}

.menu ul li a::before 
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background: #38006b;
  border-radius: 10px;
  transition: transform 0.5s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: -1;
}

.menu ul li a:hover::before 
{
  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(1);
  z-index: -1;
}

.header
{
	position: absolute;
	top: 20px;
	padding: 5px; 
	min-width: 100%;
	background: #9c4dcc;
	font-size: 20px;
	font-family: sans-serif;
	color: #fff;	
}


.content
{
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	float: left;
	border-radius: 10px;
	font-size: 22px;
	font-family: sans-serif;
	color: #fff;*/
}

.menu
{
	position: absolute;
	top: 60px;
	left: 450px;
}

.footer 
{
	position: absolute;
	top: 90%;
	left: 20%
	transform: translate(-50%, -50%);
	min-width: 100%;
  	padding: 5px;
  	font-size: 15px;
  	font-family: sans-serif;
  	text-align:left;
  	background: #9c4dcc;
  	color: #fff;
}
