* {
  box-sizing: border-box;
}

.header
{
  top: 20px;
  padding: 5px; 
  min-width: 100%;
  background: #9c4dcc;
  font-size: 20px;
  font-family: sans-serif;
  color: #fff;  
}

.menu
{
  position: absolute;
  top: 60px;
  left: 450px;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #38006b;
}

/* Header 

.header {
  padding:30px;
  background: #BABABA;
}
.header h1 {
  font-size: 50px;
}*/

/* Unequal Columns */
.row {
  display: flex;
}
/* Left Column */
.leftcolumn {
  float:left;
  width: 25%;
  background-color: #ae52d4;
  padding-left: 10px;
}

/* Right Column */
.rightcolumn {
  float: left;
  width: 75%;
  background-color: #F09ED4;
  padding-left: 20px;
}
/* Exclusives */
#DATE {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 45px;
  color:white;
}
#STONE_DIV {
  position: relative;
  font-family: Arial;
  background-color: white;
  left: 70px;
  width: 200px;
  float: left;
}
#STONES {
  position: absolute;
  vertical-align: center;
  text-align: center;
  top: 50px;
  width: 100%;
  color: white;
}
#FLOWER_DIV {
  position: relative;
  font-family: Arial;
  background-color: white;
  left: 70px;
  width: 200px;
  float: left;
}
#FLOWERS {
  position: absolute;
  vertical-align: center;
  text-align: center;
  top: 50px;
  width: 100%;
  color: white;
}
#ZODIAC_DIV {
  position: relative;
  font-family: Arial;
  background-color: white;
  left: 70px;
  width: 200px;
  float: left;
}
#ZODIACS {
  position: absolute;
  vertical-align: center;
  text-align: center;
  top: 50px;
  width: 100%;
  color: white;
}
#CNZODIAC_DIV {
  position: relative;
  font-family: Arial;
  background-color: white;
  left: 70px;
  width: 200px;
  float: left;
}
#CNZODIACS {
  position: absolute;
  vertical-align: center;
  text-align: center;
  top: 50px;
  width: 100%;
  color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.leftcolumn ul
{
  margin: 0;
  padding: 0;
}

.leftcolumn ul li
{
  list-style: none;
  margin: 0 10px;
  transition: 0.5s; 
}

.leftcolumn ul li a
{
  display: block;
  position: relative;
  text-decoration: none;
  padding: 5px;
  font-size: 15px;
  font-family: sans-serif;
  color: #fff;
  text-transform: uppercase;
  transition: 0.5s;
}

.leftcolumn ul:hover li a 
{
  transform: scale(1.15);
  opacity: 0.2;
  filter: blur(5px);
}

.leftcolumn ul li a:hover 
{
  transform: scale(1.05);
  opacity: 1;
  filter: blur(0);
}

.leftcolumn ul li a::before 
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background: #38006b;
  border-radius: 10px;
  transition: transform 0.5s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: -1;
}

.leftcolumn ul li a:hover::before 
{
  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(1);
  z-index: -1;
}

.menu ul
{
  margin: 0;
  padding: 0;
  display: flex;
}

.menu ul li
{
  list-style: none;
  margin: 0 20px;
  transition: 0.5s; 
}

.menu ul li a
{
  display: block;
  position: relative;
  text-decoration: none;
  padding: 5px;
  font-size: 18px;
  font-family: sans-serif;
  color: #fff;
  text-transform: uppercase;
  transition: 0.5s;
}

.menu ul:hover li a 
{
  transform: scale(1.5);
  opacity: 0.2;
  filter: blur(5px);
}

.menu ul li a:hover 
{
  transform: scale(2);
  opacity: 1;
  filter: blur(0);
}

.menu ul li a::before 
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background: #38006b;
  border-radius: 10px;
  transition: transform 0.5s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: -1;
}

.menu ul li a:hover::before 
{
  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(1);
  z-index: -1;
}

/* Footer */
.footer {
  padding: 5px;
  text-align:left;
  color: #fff;
  background: #9c4dcc;
}